@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body {
  background-color: #282c34 !important;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: None;
}

.primary-heading {
  font-family: "bebas neue", sans-serif;
  font-size: 54px;
  letter-spacing: 0.01em;
  color: #61dafb;
  font-weight: normal;
}

.form-control {
  background-color: #212529 !important;
  border: 1px solid rgba(0, 0, 0, 0.397) !important;
  box-shadow: none !important;
  color: white !important;
}

.form-label {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: azure;
}

.btn-custom-light {
  padding: 6px 22px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  background-color: rgb(0, 0, 0, 0.1);
  border: solid 2px transparent;
  cursor: pointer;
  font-weight: 500;
  width: 160px !important;
  font-size: 18px;
  color: azure;
}

.btn-custom-light:hover {
  background-color: rgba(0, 0, 0, 0.164);
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}